﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Disclaimer</h3>
    <p>This applicaiton is intended purely as demonstration of integrating a custom web application with Tessitura's REST API.</p>
    <p>The application itself was NOT developed by Tessitura and comes completely without warranty.</p>
</div>

<div id="dvGetRest" class="jumbotron">
    <h2>GetRest()</h2>
    <p class="lead">Test the GetRest() function. (e.g. Diagnostics/Status)</p>
    <form id="getrest_form" action="/getrest_example" method="get">
        <label for="txtGetRest">Endpoint:</label>
        <input type="text" id="txtGetRest" name="txtGetRest" value="Diagnostics/Status" />
        <p><a href="#" class="btn btn-primary btn-lg sendForm">Submit &raquo;</a></p>
    </form>
    <div class="dvResult"></div>
</div>

<div class="jumbotron">
    <h2>PostRest()</h2>
    <p class="lead">This PostRest() example creates a new session.</p>
    <p>You'll need to allow "Add" and "View" access right for the "Web/Session" Resource for the user group specified in the REST credentials.</p>
    <form id="postrest_form" action="/postrest_example" method="get">
        <p><a href="#" class="btn btn-primary btn-lg sendForm">Submit &raquo;</a></p>
    </form>
    <div class="dvResult"></div>
</div>

<div class="jumbotron">
    <h2>CustomRest()</h2>
    <p class="lead">Execute a customer stored procedure.</p>
    <form id="custrest_form" action="/custrest_example" method="get">
        <label for="txtCustID">ID of stored procedured (as defined in TR_Local_Procedure table):</label>
        <input type="number" id="txtCustID" name="txtCustID" />
        <label for="txtCustParams">Parameters:</label>
        <input type="text" id="txtCustParams" name="txtCustParams" value="@Html.Raw("@")p1=value1&@Html.Raw("@")p2=value2" />
        <p><a href="#" class="btn btn-primary btn-lg sendForm">Submit &raquo;</a></p>
    </form>
    <div class="dvResult"></div>
</div>

<div class="jumbotron">
    <h2>BatchRest()</h2>
    <p class="lead">Enter requests for batch in the textarea below, one per line.</p>
    <p>This example is limited to GET requests for simplicity but POST requests are possible when executing from the actual code.</p>
    <p>As of the time of creating this application, batch requests do not support customer stored procedures.</p>
    <form id="batchrest_form" action="/batchrest_example" method="get">
        <textarea id="txtBatch" name="txtBatch">/TXN/WebContents?productionElementIds=[perfId]
/TXN/Performances/Summary?performanceIds=[perfId]</textarea>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg sendForm">Submit &raquo;</a></p>
    </form>
    <div class="dvResult"></div>
</div>